.search-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.search-bar > select {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
}

.search-bar > input {
    width: 300px;
    height: 30px;
    border: none;
    padding: 10px;
    font-size: 15px;
}

.search-bar > button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    background-color: yellow;
}